{% extends 'base.html.twig' %}

{% block title %}{{produit.nom}}{% endblock %}

{% block body %}
<h1>{{produit.nom}}</h1>
<a>{{produit.description}}</p>

<h2>Modifier la catégorie</h2>

{{form (form_edit)}}

{% endblock %}